<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
       <script type="text/javascript">
        	    var x =angular.module('DriverApp',[])
    		    .controller('ctrl1', function(user) 
		        {   	
		        	var ctrl1 =this;
		        	ctrl1.show=show;
		        	ctrl1.ctrl1=user.ctrl1;
		        	
		        	ctrl1.data=user;
		        	function show()
		        	{
		        		console.log("show");
		        		user.ctrl2={};
		        	}
		       
		        })
		       .controller('ctrl2', function(user) 
		        {
		        	var ctrl2 =this;
		        	ctrl2.ctrl2=user.ctrl2;

		        
		        })
                 .service('user', function user(){
                  var user=this;
                  user.ctrl1={};
                  user.ctrl2={};
                });


        </script>
</head>
 <body ng-app="DriverApp">
        	<div ng-controller="ctrl1 as ctrl1">
        	<input type="text" ng-model="ctrl1.ctrl1.msg1"><br>
        	<input type="text" ng-model="ctrl1.ctrl1.msg2"><br>
        	<input type="text" ng-model="ctrl1.ctrl1.msg3"><br>
        	<button ng-click="ctrl1.show()">show</button>
        		{{ctrl1.ctrl1}}
        		{{ctrl1.data}}
        	</div>
        	 <div ng-controller="ctrl2 as ctrl2">
        	 <input type="text" ng-model="ctrl2.ctrl2.msg1">
        		{{ctrl2.ctrl2}}
        	</div>
        </body>
</html>