<script src="angular.min.js"></script>
<script src="angular-ui-router.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script>
	
	/* main module*/
	angular.module('app',['ui.router']);
	
	/* 
	sub module 
	name of Controller=myCtrl
	*/
	angular.module('app')
  .controller("myCtrl",myCtrl);
  myCtrl.$inject=['$scope'];
  function myCtrl($scope){
    $scope.myCtrlVar=123;
  }

  /* 
	sub module 
	name of Controller=homeCtrl
	*/
  angular.module('app')
  .controller("homeCtrl",homeCtrl);
  homeCtrl.$inject=['$scope','$state'];
  
  function homeCtrl($scope,$state){
    $scope.homeCtrlVar=456;
    $scope.getId=getId;
    $scope.showByIdFun=showByIdFun;
    $scope.otherShowByIdFun=otherShowByIdFun;
    function getId()
    {
      //catch id function
      $scope.homeCtrlVar=$state.params.id;
    }
    function showByIdFun()
    {
      //calling id functon
      $state.go('home.showById',{id:5});
    }
    function otherShowByIdFun()
    {
      //calling id functon
      $state.go('home.showById',{id:10});
    }
  }

 //states
  angular.module('app')  
  .config(function($stateProvider, $urlRouterProvider) {
  $urlRouterProvider.otherwise("/home");
  $stateProvider
    .state('home', {
      url: "/home",
      templateUrl: "home.html",
      controller: "homeCtrl"
    })
    .state('home.show', {
      url: "/show",
      templateUrl: "show.html",
//      controller: "homeCtrl"
    })
    .state('home.showById', {
      url: "/showById/:id",
      templateUrl: "showById.html",
//      controller: "homeCtrl"
    });
  });

  
</script>
<body ng-app="app" >
<div class="container-fluid" ng-controller="myCtrl">
  <ui-view></ui-view>
</div>
</body>