<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script>
	angular.module('app',[])
	.constant('temp',0)
	.controller("myCtrl",function($scope,temp){
		$scope.customer={"success":true,"data":[{"id":4,"total_amount":1000,"amount_paid":500},{"id":74,"total_amount":30,"amount_paid":10},{"id":75,"total_amount":30,"amount_paid":10},{"id":76,"total_amount":30,"amount_paid":10},{"id":77,"total_amount":30,"amount_paid":10},{"id":78,"total_amount":30,"amount_paid":10}],"total":{"totalAmount":"1030","amountPaid":"510","unpaidAmount":520},"msg":"Previous Remaining Balance Details Information"}
		$scope.customerData=$scope.customer.data;
		$scope.customerDataHead=angular.copy($scope.customer.data.length-1)
		
		$scope.next=next;
		$scope.prev=prev;
		
		function next()
		{
			if($scope.customerDataHead <= $scope.customer.data.length-1)
			{
				$scope.customerDataHead+=1;
				if($scope.customerDataHead == $scope.customer.data.length)
					{
					$scope.customerDataHead=0;	
					}
			}		
		}
		function prev()
		{
			if($scope.customerDataHead < $scope.customer.data.length && $scope.customerDataHead > -1)
			{
				$scope.customerDataHead-=1;
				if($scope.customerDataHead==-1)
					$scope.customerDataHead=angular.copy($scope.customer.data.length-1);
			}
		}
	});
</script>
<body ng-app="app" >
<div class="container-fluid" ng-controller="myCtrl">
	<button class="btn btn-info" type="submit" ng-click="prev()">prev</button>
	<button class="btn btn-info" type="submit" ng-click="next()">next</button>
	
	<p class="bg-primary"> {{customerData[customerDataHead] }}</p>
  </div>
</body>