<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script>
	angular.module('app',[])
	.constant('temp',0)
	.controller("myCtrl",function($scope,temp){
		$scope.t1;
		$scope.t2;
	});
</script>
<body ng-app="app" >
<div class="container-fluid">
<form class="form-horizontal" ng-controller="myCtrl">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder="Enter Number" ng-model="t1" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode <= 0">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder="Enter Name" ng-model="t2" onkeypress="return (event.charCode >= 97 && event.charCode <= 122 || event.charCode >= 65 && event.charCode <= 90) || event.charCode <= 0" >
    </div>
  </div>
</form>
  </div>
</body>