
<body  ng-app="myApp">
  <div ng-controller="mainCtrl">
    <my-customer></my-customer>
    <input type="button" ng-click="show1()" value="ok" >
  </div>

</body>
<script src="angular.min.js"></script>
<script>
  angular.module('myApp', [])
  .controller('mainCtrl', function($scope) {
    $scope.t1=1;
    var temp=0;
    $scope.show1=show1;

    $scope.customer={};
    $scope.customer.name="sdds sadf sadf ";
    $scope.customer.address="sdds sadf sadf ";

    function show1()
    {
    	$scope.t1+=(temp++);
    	console.log($scope.t1);
    }
  });
  angular.module('myApp')
  .directive('myCustomer', function() {
   function link(scope, element, attrs) {
   // console.log(scope.t1);
    scope.watch('t1',function(bnew){
    //	console.log(old);
    	console.log('bnew');
    	scope.t1=501;
    });
  }
  return {
    //template: 'Name: {{customer.name}} Address: {{customer.address}}'
    templateUrl: 'templates/my-customer.html',
	//templateUrl: 'templates/mycustomer.html',
 link:link,
};
});

</script>
<script id="templates/mycustomer.html" type="text/ng-template"> 
  Hiii
</script>