<link rel="stylesheet" href="css/gumby.css">
<script src="js/libs/jquery-1.10.1.min.js"></script>


<body>
	<div class="navbar" id="nav1">
		<div class="row">
			<a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
			<h1 class="four columns logo">
				<a href="#">
					<img src="img/gumby_mainlogo.png" gumby-retina />
				</a>
			</h1>
			<ul class="eight columns">
				<li><a href="http://digitalsurgeons.com">Features</a></li>
				<li>
					<a href="http://digitalsurgeons.com">Documentation</a>
					<div class="dropdown">
						<ul>
							<li><a href="http://digitalsurgeons.com">Item</a></li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
							<li>
								<a href="#">I HAVE STUFF NESTED UNDER ME</a>
								<div class="dropdown">
									<ul>
										<li><a href="http://digitalsurgeons.com">nested</a></li>
										<li><a href="">nested</a></li>
										<li><a href="">nested</a></li>
										<li><a href="">nested</a></li>
										<li><a href="">nested</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">Customize</a></li>
				<li class="field"><input class="search input" type="search" placeholder="Search" /></li>
			</ul>
		</div>
	</div>
		<div class="navcontain">
		<div class="pretty navbar" gumby-fixed="top" id="nav3">
			<div class="row">
				<a class="toggle" gumby-trigger="#nav3 > .row > ul" href="#"><i class="icon-menu"></i></a>
				<h1 class="four columns logo">
					<a href="#">
						<img src="img/gumby_mainlogo.png" gumby-retina />
					</a>
				</h1>
				<ul class="eight columns">
					<li><a href="#">Features</a></li>
					<li>
						<a href="#">Documentation</a>
						<div class="dropdown">
							<ul>
								<li><a href="#">Item</a></li>
								<li><a href="#">Item</a></li>
								<li><a href="#">Item</a></li>
								<li><a href="#">Item</a></li>
								<li><a href="#">Item</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Customize</a></li>
					<li class="field"><input class="search input" type="search" placeholder="Search" /></li>
				</ul>
			</div>
		</div>
	</div>
</body>