<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
<script>
    angular.module("myApp",[])
    .controller("myCtrl",function(){
    	var vm=this;
    	vm.data={
    		temp:'123',
    		tempHash5:'',
            tempHashSha3:'',
    		get:get,
    	};
    	function get()
    	{	
    			vm.data.tempHash5=String(CryptoJS.MD5(vm.data.temp));
                vm.data.tempHashSha3 = String(CryptoJS.SHA3(vm.data.temp));
    	}
    });
</script>
<body ng-app="myApp">
	<div ng-controller="myCtrl as vm">
		
		<input type="text" ng-model="vm.data.temp" ng-change="vm.data.get()"><br>
        {{vm.data.tempHash5}}<br>
        <h1> sdfsdf </h1>
        {{vm.data.tempHashSha3}}<br>
		<input type="button" ng-click="vm.data.get()">
	</div>

</body>