<script type="text/javascript" src="../angular_state/angular.min.js"></script>
<script type="text/javascript">
	angular.module("app",[])
	.controller('appCtrl', ['$scope','$interval', function($scope,$interval){
		var vm=this;
		vm.ser=
		{
			on:on,
			off:off,
			t1:1,
			btime:""
		};
		function on()
		{
			var x=0;
			vm.ser.t1=$interval(function() {
			 
			 	console.log(x++);
			 	vm.ser.btime=x;
			 }, 1000);
		}
		function off()
		{
			  $interval.cancel(vm.ser.t1);
		}
	}])
</script>
<body ng-app="app">
	<div ng-controller="appCtrl as vm">
	{{vm.ser.btime}}
	<div ng-init="vm.ser.on()"> start function on</div>
		<button ng-click="vm.ser.on()">on</button>
		<button ng-click="vm.ser.off()">off</button>

	</div>
</body>