<md-content class="md-padding">
<center ><h1 class="dheader">THANK YOU</h1></center>
<h2 class="md-primary">
	We appreciate you letting us konws what you think!
</h2>
     <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ng-click="lnk.home()">HOME</md-button>
    </section>
</md-content>