
<md-content class="md-padding">
<!-- <md-progress-circular md-mode="indeterminate" ng-if="1"></md-progress-circular> -->
<center class="dheader"><h1>EVENT SURVEY</h1></center>
    <form name="projectForm">
      <md-input-container class="md-block">
        <label>Username</label>
        <input md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input required name="clientName" ng-model="project.clientName" type="password">
        <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </form>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ng-click="lnk.login()" ng-disabled="!projectForm.$valid">LOGIN</md-button>
    </section>
</md-content>
<script type="text/ng-template" id="/tpl.html">

</script>