<md-content class="md-padding">
<center class="dheader"><h1>EVENT SURVEY</h1></center>
      <form ng-submit="submit()" ng-cloak>
    <h2 style="color:#5D4037"> What is your overall rating of this event:<span class="radioValue">{{ data.group1 }}</span> </h2>
    <md-radio-group ng-model="data.group1">
    <!-- class="md-primary" -->
      <md-radio-button value="Excellent" >Excellent</md-radio-button>
      <md-radio-button value="Good"> Good </md-radio-button>
      <md-radio-button value="Average">Average</md-radio-button>
      <md-radio-button value="Poor"> Poor </md-radio-button>
    </md-radio-group>
  </form>
     <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ng-click="lnk.next()">NEXT</md-button>
    </section>
</md-content>